.ocrv-report-control {
    background: rgb(240, 243, 250);
    margin-top: 5px;
    height: 37px;
    padding: 4px;
    display: flex;
}

.ocrv-report-control-left, .ocrv-report-control-right {
    flex: 1;
    display: flex;
}

.ocrv-report-control-left button {
    margin-left: 5px;
    margin-right: 10px;
}

.ocrv-report-control-right {
    justify-content: flex-end;
}

.ocrv-report-control-right {
    margin-left: 10px;
    margin-right: 5px;
}

.ocrv-report-control button {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
    color: #646d82;
    padding: 0px 12px;
    transition: all 0.25s ease;
}

.ocrv-report-control button:hover {
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0);
    color: #000;
    background: rgb(253, 236, 173);
}

.ocrv-report-control button:active {
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.ocrv-report-control button:disabled {
    color: #ddd;
    box-shadow: none;
    cursor: default;
}

.ocrv-report-header {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.ocrv-report-container {
    margin-top: 20px;
    /*overflow-y: scroll;*/
}

.ocrv-report-footer {
    font-size: 10px;
}

.ocrv-h1 {
    font-size: 24px;
}

.ocrv-h2 {
    margin-top: 12px;
    font-size: 16px;
}

.ocrv-report-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.ocrv-report-table thead * {
    background: #ddd;
    border: 1px #999 solid;
}

.ocrv-report-table tbody * {
    border: 1px #999 solid;
}

.ocrv-row-value {
    text-align: right;
}

.ocrv-item-level-0 {
    padding-left: 0px;
}

.ocrv-item-level-1 {
    padding-left: 15px;
}

.ocrv-item-level-2 {
    padding-left: 30px;
}

.ocrv-item-level-3 {
    padding-left: 45px;
}

.ocrv-item-level-4 {
    padding-left: 60px;
}

.ocrv-item-level-5 {
    padding-left: 75px;
}

.ocrv-item-level-6 {
    padding-left: 90px;
}

.ocrv-item-level-7 {
    padding-left: 105px;
}

.ocrv-row-click {
    cursor: pointer;
}

.ocrv-row-hide-self {
    visibility: collapse;
}

.ocrv-report-head-clone {
    position: fixed;
}