.ocrv-report-control {
    background: rgb(240, 243, 250);
    /*margin-top: 5px;*/
    height: 37px;
    padding: 4px;
    display: flex;
}

.ocrv-report-control-left, .ocrv-report-control-right {
    flex: 1;
    display: flex;
}

.ocrv-report-control-left button {
    margin-left: 5px;
    margin-right: 10px;
}

.ocrv-report-control-right {
    justify-content: flex-end;
}

.ocrv-report-control-right button {
    margin-left: 10px;
    margin-right: 5px;
}

.ocrv-report-control button {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
    color: #646d82;
    padding: 0px 12px;
    transition: all 0.25s ease;
}

.ocrv-report-control button:hover:enabled {
    box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0);
    color: #000;
    background: rgb(253, 236, 173);
}

.ocrv-report-control button:active:enabled {
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.ocrv-report-control button:disabled {
    color: #ddd;
    box-shadow: none;
    cursor: default;
}

.ocrv-report-header {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.ocrv-report-container {
    margin-top: 20px;
}

.ocrv-report-footer {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.ocrv-h1 {
    font-size: 24px;
}

.ocrv-h2 {
    margin-top: 12px;
    font-size: 16px;
}

.ocrv-report-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.ocrv-report-table th {
    background: rgb(104, 121, 139);
    color: white;
    padding: 3px;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid rgb(169, 169, 169);
}

.ocrv-report-table .thead-bottom {
    border-bottom-color: rgb(169, 169, 169);
    border-bottom-width: 4px;
}

.ocrv-report-table .thead-small {
    font-size: 11px;
}

.ocrv-report-table tbody td {
    border: 1px rgb(242, 242, 242) solid;
    color: #000;
}

.ocrv-item-numpp {
    padding: 3px;
    text-align: center;
}

.ocrv-item-value {
    text-align: right;
    padding: 3px;
}

.ocrv-item-caption {
    padding: 3px;
}

.ocrv-item-bull {
    color: rgba(0, 0, 0, 0.25);
    margin-right: 2px;
}

.ocrv-row-click {
    cursor: pointer;
}

.ocrv-row-hide-self {
    visibility: collapse;
}

.ocrv-report-head-clone {
    position: fixed;
}

.ocrv-report-table tr:hover td {
    background: rgb(253, 236, 173);
}

.thead-hovered {
    border-bottom-color: rgb(253, 236, 173) !important;
}

.thead-row-bottom th {
    padding-top: 0;
    padding-bottom: 0;
}